[submodule "build"]
	path = build
	url = https://github.com/mellinoe/corebuild.git
[submodule "ext/imgui.net"]
	path = ext/imgui.net
	url = https://github.com/mellinoe/imgui.net
[submodule "ext/veldrid"]
	path = ext/veldrid
	url = https://github.com/mellinoe/veldrid
